.command-block {
	padding: 0.75em;
	text-align: center;
    color: white;    
	height: 13em;
}

.jack-in {
    background-color: #0D405C;
    padding: 0.75em;
    height: 100%;
	border-radius: 10px;
}

.lift-up {
    box-shadow: 10px 10px 5px #888888;
    position: relative;
    top: -5px;
    right: 3px;
}

#return-block {
	position: fixed;
	top: 5em;
	left: 1em;
	width: 3em;
	height: 3em;
}