body {
	background-image: url('/assets/images/contemporary_china.png');
}
.command-block {
	padding: 0.75em;
	text-align: center;
	height: 13em;
}

.jack-in {
	color: rgba(255, 255, 255, 1);
	text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
    padding: 0.75em 2em;
    height: 100%;
	border-radius: 20px;
}

.lift-up {
    box-shadow: 10px 10px 5px #888888;
    position: relative;
    top: -5px;
    right: 3px;
}

#return-block {
	position: fixed;
	top: 	7em;
	left: 	1em;
	width: 	3em;
	height: 3em;
}

#result-table {
	background-color: white;
	font-size: 1.25em;
}

#header-block {
	padding: 0em;
}

#myPageHeader {
	display: block;
	width: 100%;
	text-align: center;
}

.tight-panel {
	margin: 0em;
	margin-bottom: 0em;
}