@import java.util.ArrayList

@(title: String)

<!DOCTYPE html>
<html lang="en">
<head>
	<title>@title</title>
	
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/flatly.bootstrap.min.css")">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/prism.css")">
	<script type="text/javascript" src="@routes.Assets.at("javascripts/prism.js")"></script>
	
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/style.css")">
	<script type="text/javascript" src="@routes.Assets.at("javascripts/nba.js")"></script>
</head>
<body>
	<div id="header-block" class="container-fluid alert alert-info">
		<div class="container">
			<div class="page-header">
				<h1 id="myPageHeader">CECS 323 Final JDBC Project - Team 2</h1>
			</div>
		</div>
	</div>

	<div id="menu-choice" class="container">
		<div class="row">
			<div class="command-block col-md-4">
				<div class="jack-in alert alert-success" data-command="1">
					<h1>Query 1</h1>
					<p></p>
				</div>
			</div>
			<div class="command-block col-md-4">
				<div class="jack-in alert alert-success" data-command="2">
					<h1>Query 2</h1>
					<p></p>
				</div>
			</div>
			<div class="command-block col-md-4">
				<div class="jack-in alert alert-success" data-command="3">
					<h1>Query 3</h1>
					<p></p>
				</div>
			</div>
			<div class="command-block col-md-4">
				<div class="jack-in alert alert-success" data-command="4">
					<h1>Query 4</h1>
					<p></p>
				</div>
			</div>
			<div class="command-block col-md-4">
				<div class="jack-in alert alert-success" data-command="5">
					<h1>Query 5</h1>
					<p></p>
				</div>
			</div>
			<div class="command-block col-md-4">
				<div class="jack-in alert alert-success" data-command="6">
					<h1>Query 6</h1>
					<p></p>
				</div>
			</div>
			<div class="command-block col-md-4">
				<div class="jack-in alert alert-danger" data-command="7">
					<h1>Insert</h1>
					<p></p>
				</div>
			</div>
			<div class="command-block col-md-4">
				<div class="jack-in alert alert-danger" data-command="8">
					<h1>Update</h1>
					<p></p>
				</div>
			</div>
			<div class="command-block col-md-4">
				<div class="jack-in alert alert-danger" data-command="9">
					<h1>Delete</h1>
					<p></p>
				</div>
			</div>
		</div>
	</div>
	<div id="chart-thing" class="container">
		<button id="return-block" class="btn btn-default btn-lg alert alert-danger">
			<span class="glyphicon glyphicon-arrow-left"></span>
		</button>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1>Query Description</h1>
			</div>
			<div class="panel-body">
				<p id="query-description"></p>
			</div>
		</div>

		<div class="panel panel-default tight-panel">
			<div class="panel-heading">
				<h1>SQL Code</h1>
			</div>
		</div>
		<pre><code id="code-section" class="language-sql"></code></pre>

		<div class="panel panel-default tight-panel">
			<div class="panel-heading">
				<h1>Result Data</h1>
			</div>
		</div>
		<table id="result-table" class="table table-striped table-bordered table-hover"></table>
	</div>
</body>
</html>